/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-08-2016, 12:36:01
    Author     : Stegger
*/


#btnAddSongToPlaylist {			
	-fx-base:#121212;
	-fx-background-image: url("../images/AddSongGrey.png");
	-fx-background-size: 26 26;
	-fx-background-repeat: no-repeat;
	-fx-background-position:center;	
}
btnMoveDownOnPlaylist:hover{
    -fx-background-image: url("../images/add-song6.png");}
#btnAddSongToPlaylist:pressed{
    -fx-background-image: url("../images/AddSongGrey.png");}